<div class="text-center; container " style="width: 450px ">

  <form class="form-signin" (ngSubmit)="signup(formData)" #formData="ngForm">

    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

    <label for="email" class="sr-only">Email address</label>
    <input ngModel type="email" id="email" name="email" class="form-control" placeholder="Email address" required>

    <label for="password" class="sr-only">Password</label>
    <input ngModel type="password" id="password" name="password" class="form-control" placeholder="Password" required>

    <p></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="formData.invalid">Sign up</button>

  </form>

</div>
