<!--FORM-->
<div class="container text-center">

  <!--<div class="col-md-11 order-md-1">-->
  <!--<h3 class="mb-3" align="center">{{'TITLE' | translate}}</h3>-->

  <form [formGroup]="craneForm" (ngSubmit)="onSubmit()">

    <div class="row">

      <div class="col">
        <div class="mb-3">
          <label for="load">{{'LOAD' | translate}}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <select class="input-group-text dropdown-toggle" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="defaultLoad" (ngModelChange)="setLoad($event)">
                <option *ngFor="let unit of unitsLoad" [value]="unit">{{unit}}</option>
              </select>
            </div>
            <input type="number" class="form-control" id="load" placeholder="{{'LOAD_HOLDER' | translate}}"
                   formControlName="load"
                   required>
          </div>
          <div class="alert1 alert-danger" role="alert"
               *ngIf="craneForm.get('load').invalid && craneForm.get('load').dirty">{{'LOAD_ERROR' | translate}}
          </div>
          <div class="alert1 alert-danger" role="alert"
               *ngIf="craneForm.get('load').invalid && craneForm.get('load').touched">{{'ERROR2' | translate}}
          </div>
        </div>
      </div>

      <div class="col">
        <div class=" mb-3">
          <label i18n="@@radius" for="radius">{{'RADIUS' | translate}}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <select class="input-group-text dropdown-toggle" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="defaultRadius" (ngModelChange)="setRadius($event)">
                <option *ngFor="let unit of unitsRadius" [value]="unit">{{unit}}</option>
              </select>
            </div>
            <input type="number" class="form-control" id="radius" placeholder="{{'RADIUS_HOLDER' | translate}}"
                   formControlName="radius" required>
          </div>
          <div class="alert1 alert-danger" role="alert"
               *ngIf="craneForm.get('radius').invalid && craneForm.get('radius').dirty">{{'RADIUS_ERROR' | translate}}
          </div>
          <div class="alert1 alert-danger" role="alert"
               *ngIf="craneForm.get('radius').invalid && craneForm.get('radius').touched">{{'ERROR2' | translate}}
          </div>
        </div>
      </div>

      <div class="col">
        <div class="mb-3">
          <label i18n="@@height" for="height">{{'HEIGHT' | translate}}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <select class="input-group-text dropdown-toggle" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="defaultHeight" (ngModelChange)="setHeight($event)">
                <option *ngFor="let unit of unitsHeight" [value]="unit">{{unit}}</option>
              </select>
            </div>
            <input type="number" class="form-control" id="height" placeholder="{{'HEIGHT_HOLDER' | translate}}"
                   formControlName="height">
          </div>
          <div class="alert1 alert-danger" role="alert"
               *ngIf="craneForm.get('height').invalid && craneForm.get('height').dirty">{{'HEIGHT_ERROR' | translate}}
          </div>
        </div>
      </div>

    </div>

    <!--<div class="mb-3">-->
    <!--<label for="load">{{'LOAD' | translate}}</label>-->
    <!--<div class="input-group">-->
    <!--<div class="input-group-prepend">-->

    <!--<select class="input-group-text dropdown-toggle" [ngModelOptions]="{standalone: true}"-->
    <!--[(ngModel)]="defaultLoad" (ngModelChange)="setLoad($event)">-->
    <!--<option *ngFor="let unit of unitsLoad" [value]="unit">{{unit}}</option>-->
    <!--</select>-->

    <!--</div>-->
    <!--<input type="number" class="form-control" id="load" placeholder="{{'LOAD_HOLDER' | translate}}"-->
    <!--formControlName="load"-->
    <!--required>-->
    <!--</div>-->

    <!--<div class="alert1 alert-danger" role="alert"-->
    <!--*ngIf="craneForm.get('load').invalid && craneForm.get('load').dirty">{{'LOAD_ERROR' | translate}}-->
    <!--</div>-->
    <!--<div class="alert1 alert-danger" role="alert"-->
    <!--*ngIf="craneForm.get('load').invalid && craneForm.get('load').touched">{{'ERROR2' | translate}}-->
    <!--</div>-->

    <!--</div>-->

    <!--<div class=" mb-3">-->
    <!--<label i18n="@@radius" for="radius">{{'RADIUS' | translate}}</label>-->
    <!--<div class="input-group">-->
    <!--<div class="input-group-prepend">-->

    <!--<select class="input-group-text dropdown-toggle" [ngModelOptions]="{standalone: true}"-->
    <!--[(ngModel)]="defaultRadius" (ngModelChange)="setRadius($event)">-->
    <!--<option *ngFor="let unit of unitsRadius" [value]="unit">{{unit}}</option>-->
    <!--</select>-->

    <!--</div>-->
    <!--<input type="number" class="form-control" id="radius" placeholder="{{'RADIUS_HOLDER' | translate}}"-->
    <!--formControlName="radius" required>-->
    <!--</div>-->
    <!--<div class="alert1 alert-danger" role="alert"-->
    <!--*ngIf="craneForm.get('radius').invalid && craneForm.get('radius').dirty">{{'RADIUS_ERROR' | translate}}-->
    <!--</div>-->
    <!--<div class="alert1 alert-danger" role="alert"-->
    <!--*ngIf="craneForm.get('radius').invalid && craneForm.get('radius').touched">{{'ERROR2' | translate}}-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="mb-3">-->
    <!--<label i18n="@@height" for="height">{{'HEIGHT' | translate}}</label>-->
    <!--<div class="input-group">-->
    <!--<div class="input-group-prepend">-->

    <!--<select class="input-group-text dropdown-toggle" [ngModelOptions]="{standalone: true}"-->
    <!--[(ngModel)]="defaultHeight" (ngModelChange)="setHeight($event)">-->
    <!--<option *ngFor="let unit of unitsHeight" [value]="unit">{{unit}}</option>-->
    <!--</select>-->

    <!--</div>-->
    <!--<input type="number" class="form-control" id="height" placeholder="{{'HEIGHT_HOLDER' | translate}}"-->
    <!--formControlName="height">-->
    <!--</div>-->
    <!--<div class="alert1 alert-danger" role="alert"-->
    <!--*ngIf="craneForm.get('height').invalid && craneForm.get('height').dirty">{{'HEIGHT_ERROR' | translate}}-->
    <!--</div>-->
    <!--</div>-->

    <!--BUTTON FIND -->
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <button class="btn btn-primary btn-lg btn-block" type="submit"
                [disabled]="!craneForm.valid">{{'CALCULATE' | translate}}</button>
      </div>
      <div class="col"></div>
    </div>

  </form>
</div>
<!--</div>-->

<p><br></p>

<!--RESULTS-->
<div class="container">
  <div class="col-md-12">

    <div *ngIf="error.length > 0" class="alert alert-primary text-center" role="alert">
      {{'EMPTY_JSON' | translate}}
    </div>

    <div *ngIf="allCranes$ != null">

      <div *ngFor="let crane of allCranes$">

        <h3 class="mb-3">{{'BEST_OPTION' | translate}} </h3>


        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th style="width:40%">{{'NAME' | translate}}</th>
            <th style="width:35%">{{'CLASS' | translate}}</th>
            <th style="width:25%">{{'RESULT_UNITS' | translate}}

            </th>
          </tr>
          </thead>

          <tr>
            <td style="width:40%" class="align-middle">{{crane.best}}</td>
            <td style="width:35%" class="align-middle">{{crane.details.craneType}}</td>
            <td style="width:25%">
              <select class="input-group-text dropdown-toggle" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="resultUnit" (ngModelChange)="setUnits($event)">
                <option *ngFor="let unit of unitKinds" [value]="unit">{{unit}}</option>
              </select>
            </td>
          </tr>
        </table>

        <table class="table table-striped table-sm">

          <thead>
          <tr>
            <th style="width:40%">{{'DETAILS' | translate}}</th>
            <th style="width:35%"></th>
            <th style="width:25%"></th>
          </tr>
          </thead>

          <tr>
            <td style="width:40%">{{'TABLE_TYPE' | translate}}</td>
            <td style="width:35%"></td>
            <td style="width:25%">{{crane.details.tableType}}</td>
          </tr>

          <tr>
            <td>{{'LOAD' | translate}}</td>
            <td></td>
            <td *ngIf="resultUnit=='Metric'">{{crane.details.load}} t</td>
            <td *ngIf="resultUnit=='Imperial'">{{crane.details.load * 2204.6244202 | number:'1.1-2'}} lb</td>
          </tr>

          <tr>
            <td>{{'RADIUS' | translate}}</td>
            <td></td>
            <td *ngIf="resultUnit=='Metric'">{{crane.details.radius}} m</td>
            <td *ngIf="resultUnit=='Imperial'">{{crane.details.radius * 3.280839895 | number:'1.1-2'}} ft</td>
          </tr>
          <tr>
            <td>{{'BOOM_LENGTH' | translate}}</td>
            <td></td>
            <td *ngIf="resultUnit=='Metric'">{{crane.details.boomLength}} m</td>
            <td *ngIf="resultUnit=='Imperial'">{{crane.details.boomLength * 3.280839895 | number:'1.1-2'}} ft</td>

          <tr>
            <td>{{'CUNTER_WEIGHT' | translate}}</td>
            <td></td>
            <td *ngIf="resultUnit=='Metric'">{{crane.details.counterweight}} t</td>
            <td *ngIf="resultUnit=='Imperial'">{{crane.details.counterweight * 2204.6244202 | number:'1.1-2'}} lb</td>
          </tr>

          <tr>
            <td>{{'TELESCOPIN_BOOM' | translate}}</td>
            <td></td>
            <td>{{crane.details.telescopingBoomType}}</td>
          </tr>

          <tr *ngIf="crane.details.extension != ''">
            <td>{{'EXTENSION' | translate}}</td>
            <td></td>
            <td *ngIf="resultUnit=='Metric'">{{crane.details.extension}} m</td>
            <td *ngIf="resultUnit=='Imperial'">{{crane.details.extension * 3.280839895 | number:'1.1-2'}} ft</td>
          </tr>

          <tr *ngIf="crane.details.adapter != ''">
            <td>{{'ADAPTER' | translate}}</td>
            <td></td>
            <td *ngIf="resultUnit=='Metric'">{{crane.details.adapter}} m</td>
            <td *ngIf="resultUnit=='Imperial'">{{crane.details.adapter * 3.280839895 | number:'1.1-2'}} ft</td>
          </tr>

          <tr *ngIf="crane.details.flyJib != ''">
            <td>{{'FLY' | translate}}</td>
            <td></td>
            <td *ngIf="resultUnit=='Metric'">{{crane.details.flyJib}} m</td>
            <td *ngIf="resultUnit=='Imperial'">{{crane.details.flyJib * 3.280839895 | number:'1.1-2'}} ft</td>
          </tr>

          <tr *ngIf="crane.details.vippe != '' || crane.details.vippe != '0' ">
            <td>{{'VIPPE' | translate}}</td>
            <td>{{crane.details.vippe}}</td>
            <td *ngIf="resultUnit=='Metric'">{{crane.details.vippe}} m</td>
            <td *ngIf="resultUnit=='Imperial'">{{crane.details.vippe * 3.280839895 | number:'1.1-2'}} ft</td>
          </tr>
          <tr>
            <td>{{'ROTATE' | translate}}</td>
            <td></td>
            <td>{{crane.details.rotate360}} °</td>
          </tr>
          <tr *ngIf="crane.details.degree != '' || crane.details.degree != '0' ">
            <td>{{'DEGREE' | translate}}</td>
            <td></td>
            <td>{{crane.details.degree}} °</td>
          </tr>

          <tr *ngIf="crane.details.ywing != ''">
            <td>{{'YWING' | translate}}</td>
            <td></td>
            <td>{{crane.details.flyJib}}</td>
          </tr>
          <tr *ngIf="crane.details.ewing != ''">
            <td>{{'EWING' | translate}}</td>
            <td></td>
            <td>{{crane.details.ewing}}</td>
          </tr>
        </table>

        <!--ALTERNATIVES-->

        <h3 class="mb-3">{{'ALTERNATIVES' | translate}} </h3>

        <div *ngFor="let alter of crane.alternatives; let i = index">

          <table class="table table-striped table-sm ">
            <thead>
            <tr>
              <th style="width:40%">{{'NAME' | translate}}</th>
              <th style="width:35%">{{'CLASS' | translate}}</th>
              <th style="width:25%"></th>
            </tr>
            </thead>
            <tr>
              <td style="width:40%" class="align-middle">{{alter.crane}}</td>
              <td style="width:35%" class="align-middle">{{alter.craneType}}</td>
              <td style="width:25%">
                <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#{{'test' + i}}" role="button"
                   aria-expanded="false"
                   aria-controls="i">{{'SHOW_MORE' | translate}}</a>
              </td>
            </tr>
          </table>

          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="{{'test' + i}}">
                <div class="card card-body">
                  <table class="table table-striped table-sm">
                    <thead>

                    <tr>
                      <th style="width:40%">{{'DETAILS' | translate}}</th>
                      <th style="width:35%"></th>
                      <th style="width:25%"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                      <td style="width:40%">{{'TABLE_TYPE' | translate}}</td>
                      <td style="width:35%"></td>
                      <td style="width:25%">{{alter.tableType}}</td>
                    </tr>

                    <tr>
                      <td>{{'LOAD' | translate}}</td>
                      <td></td>
                      <td *ngIf="resultUnit=='Metric'">{{alter.load}} t</td>
                      <td *ngIf="resultUnit=='Imperial'">{{alter.load * 2204.6244202 | number:'1.1-2'}} lb</td>
                    </tr>

                    <tr>
                      <td>{{'RADIUS' | translate}}</td>
                      <td></td>
                      <td *ngIf="resultUnit=='Metric'">{{alter.radius}} m</td>
                      <td *ngIf="resultUnit=='Imperial'">{{alter.radius * 3.280839895 | number:'1.1-2'}} ft</td>
                    </tr>

                    <tr>
                      <td>{{'BOOM_LENGTH' | translate}}</td>
                      <td></td>
                      <td *ngIf="resultUnit=='Metric'">{{alter.boomLength}} m</td>
                      <td *ngIf="resultUnit=='Imperial'">{{alter.boomLength * 3.280839895 | number:'1.1-2'}} ft</td>
                    </tr>

                    <tr>
                      <td>{{'CUNTER_WEIGHT' | translate}}</td>
                      <td></td>
                      <td *ngIf="resultUnit=='Metric'">{{alter.counterweight}} t</td>
                      <td *ngIf="resultUnit=='Imperial'">{{alter.counterweight * 2204.6244202 | number:'1.1-2'}} lb</td>
                    </tr>

                    <tr>
                      <td>{{'TELESCOPIN_BOOM' | translate}}</td>
                      <td></td>
                      <td>{{alter.telescopingBoomType}}</td>
                    </tr>

                    <tr *ngIf="alter.extension != ''">
                      <td>{{'EXTENSION' | translate}}</td>
                      <td></td>
                      <td *ngIf="resultUnit=='Metric'">{{alter.extension}} m</td>
                      <td *ngIf="resultUnit=='Imperial'">{{alter.extension * 3.280839895 | number:'1.1-2'}} ft</td>
                    </tr>

                    <tr *ngIf="alter.adapter != ''">
                      <td>{{'ADAPTER' | translate}}</td>
                      <td></td>
                      <td *ngIf="resultUnit=='Metric'">{{alter.adapter}} m</td>
                      <td *ngIf="resultUnit=='Imperial'">{{alter.adapter * 3.280839895 | number:'1.1-2'}} ft</td>
                    </tr>

                    <tr *ngIf="alter.flyJib != ''">
                      <td>{{'FLY' | translate}}</td>
                      <td></td>
                      <td *ngIf="resultUnit=='Metric'">{{alter.flyJib}} m</td>
                      <td *ngIf="resultUnit=='Imperial'">{{alter.flyJib * 3.280839895 | number:'1.1-2'}} ft</td>
                    </tr>

                    <tr *ngIf="alter.vippe != '' || alter.vippe != '0' ">
                      <td>{{'VIPPE' | translate}}</td>
                      <td></td>
                      <td *ngIf="resultUnit=='Metric'">{{alter.vippe}} m</td>
                      <td *ngIf="resultUnit=='Imperial'">{{alter.vippe * 3.280839895 | number:'1.1-2'}} ft</td>
                    </tr>

                    <tr>
                      <td>{{'ROTATE' | translate}}</td>
                      <td></td>
                      <td>{{alter.rotate360}} °</td>
                    </tr>

                    <tr *ngIf="alter.degree != '' || alter.degree != '0' ">
                      <td>{{'DEGREE' | translate}}</td>
                      <td>{{alter.degree}} °</td>
                    </tr>

                    <tr *ngIf="alter.flyJib != ''">
                      <td>{{'YWING' | translate}}</td>
                      <td>{{alter.flyJib}}</td>
                    </tr>

                    <tr *ngIf="alter.flyJib != ''">
                      <td>{{'EWING' | translate}}</td>
                      <td>{{alter.ewing}}</td>
                      <td></td>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

