.alert1 {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.table td, .table th {
  padding: .25rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}


tr {
  line-height: 35px;
  min-height: 35px;
  height: 35px;
}

