<nav class=" navbar navbar-expand-md bg-white border-bottom shadow-sm fixed-top">

  <div class=" aLogo navbar-brand my-0 mr-md-auto font-weight-normal" routerLink="/home">Crane Expert</div>

  <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse"
          data-target="#navbarCollapse2" aria-controls="navbarCollapse" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse2">

    <ul class="navbar-nav p-2 ">

      <!--<a *ngIf="authService.user" routerLink="/cranes" class="p-2 text-dark justify-content-end">Cranes</a>-->
      <!--<span class="p-2 text-dark justify-content-end" *ngIf="authService.user"><b>{{authService.user.email}}</b></span>-->
      <!--<a *ngIf="!authService.user" routerLink="/signup" class="btn btn-outline-primary justify-content-end" href="#">Sign-->
      <!--up</a>-->
      <!--<a *ngIf="!authService.user" routerLink="/login" class="btn btn-outline-primary justify-content-end">Log in</a>-->
      <!--<a *ngIf="authService.user" (click)="logout()" class="btn btn-outline-primary justify-content-end"-->
      <!--href="#">Log out</a>-->

      <select class="btn btn-outline-primary dropdown-toggle " [(ngModel)]="brandLang"
              (ngModelChange)="setLang($event)">
        <option class=" text-md-right" *ngFor="let la of langs"
                [value]="la.value">{{la.label}}
        </option>
      </select>

      <select class="btn btn-outline-primary dropdown-toggle" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="resultUnit" (ngModelChange)="setUnits($event)">
        <option *ngFor="let unit of unitKinds" [value]="unit">{{unit}}</option>
      </select>
    </ul>

  </div>

</nav>


<main role="main" class="container main">



  <app-home></app-home>


  <br>
  <br>

  <div>
    <app-reactive-form></app-reactive-form>
  </div>

</main>
