<div class="container text-center">

  <div class="row">
    <div class="col"></div>
    <div class="col">
      <h1>CRANES.EXPERT</h1>
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col">
      <img src="assets/pics/crane.svg">
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col">

       <h2>👋{{'HOME' | translate}}</h2>

    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col">
    <h3>Let's find the best crane</h3>
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col">
      <button type="button" class="btn btn-primary">Let's do it</button>
    </div>
    <div class="col"></div>
  </div>

</div>

